.resultsContainer {
  display: flex;
  flex-wrap: wrap;
}
.userData {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  height: 150px;

  text-align: center;
}

.occupation {
  border: 1px solid grey;
  background-color: green;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
